@{
    ViewData["Title"] = "Головна";
}

<div style="padding: 10px;"></div>

    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title text-center">Ласкаво просимо на сайт Hop-Shop</h5>
            <p class="card-text">
                Найкращий сайт з найнижчими цінами та неперевершеним сервісом!
            </p>
            <p class="card-text"><small class="text-muted">Hop-Shop</small></p>
        </div>
    </div>

    <div style="padding: 10px;"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100">

            <a asp-controller="Product" asp-action="GetCategory" asp-route-category="Clothes"><img src="~/img/odyag.webp" class="card-img-top card-image" /></a>
                    <div class="card-body text-center">
                        <h5 class="card-title">Одяг</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="GetCategory" asp-route-category="Clothes" class="btn btn-success">До категорії</a>
                    </div>
                </div>
            </div>

    <div class="col">
        <div class="card h-100">
            <a asp-controller="Product" asp-action="GetCategory" asp-route-category="MobileAccessories"><img src="~/img/mobilni-aksesuari.webp" class="card-img-top card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Мобільні аксесуари</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="GetCategory" asp-route-category="MobileAccessories" class="btn btn-success">До категорії</a>
            </div>
        </div>
    </div>
        
        <div class="col">
            <div class="card h-100">
            <a asp-controller="Product" asp-action="GetCategory" asp-route-category="ForChild"><img src="~/img/tovari-dlya-ditej.webp" class="card-img-top card-image" /></a>
                <div class="card-body text-center">
                    <h5 class="card-title">Товари для дітей</h5>
                    <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since dhe 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="GetCategory" asp-route-category="ForChild" class="btn btn-success">До категорії</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <a asp-controller="Product" asp-action="GetCategory" asp-route-category="BeautyAndHealth"><img src="~/img/sport-zdorovya-vidpochinok.webp" class="card-img-top card-image" /></a>
                <div class="card-body text-center">
                    <h5 class="card-title">Краса та здоров'я'</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="GetCategory" asp-route-category="BeautyAndHealth" class="btn btn-success">До категорії</a>
            </div>
            </div>
        </div>
    </div>
<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
        <div class="card h-100">
            <img src="~/img/vijskove-obmundiruvannya.webp" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">Військове спорядженяя</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="card-footer text-center">
                <a href="/Product/MilitaryEquipment" class="card-link">До категорії</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/img/electro.webp" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">Електроприлади</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="card-footer text-center">
                <a href="/Product/ElectricalAppliances" class="card-link">До категорії</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/img/posud.webp" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">Посуд</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="/Product/ElectricalAppliances" class="card-link">До категорії</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/img/tehnika-dlya-domu.webp" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">Техніка для дому</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="card-footer text-center">
                <a href="/Product/AppliancesForHome" class="card-link">До категорії</a>
            </div>
        </div>
    </div>
</div>

    <div style="padding: 10px;"></div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Some content</h5>
            <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>






@section pageScripts
    {
    <script>

        $('#btnHideId').click(function () {
            $('#ulListId').hide(2000);
        });

        $('#btnShowId').click(function () {
            $('#ulListId').show(2000);
        });
    </script>
}
