<div class="row">
    <div class="col">
        <select class="form-control" id="firstCarId"></select>
    </div>
    <div class="col">
        <select class="form-control" id="secondCarId"></select>
    </div>
</div>

<div style="padding: 10px;"></div>

<div class="row">
    <div class="col-md-6">
        <div class="card-body">
            <h5 class="card-title" id="firstCardTitleId"></h5>
            <p class="card-text" id="firstCardDescId"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="firstCardSpeedId"></li>
            <li class="list-group-item" id="firstCardPriceId"></li>
            <li class="list-group-item" id="firstCardModelId"></li>
            <li class="list-group-item" id="firstCardDateCreateId"></li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="card-body">
            <h5 class="card-title" id="secondCardTitleId"></h5>
            <p class="card-text" id="secondCardDescId"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="secondCardSpeedId"></li>
            <li class="list-group-item" id="secondCardPriceId"></li>
            <li class="list-group-item" id="secondCardModelId"></li>
            <li class="list-group-item" id="secondCardDateCreateId"></li>
        </ul>
    </div>
</div>

<div style="padding: 10px;"></div>

<div class="text-white bg-secondary" id="warningCardId">
    <div class="bg-secondary card-header text-white">
        Увага!
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p id="warningId"></p>
        </blockquote>
    </div>
</div>

<div style="padding: 10px;"></div>

<div id="resultCardId">
    <div class="bg-secondary card-header text-white">
        Результат
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="resultSpeedId"></li>
            <li class="list-group-item" id="resultPriceId"></li>
        </ul>
    </div>
</div>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script>
    $(document).ready(function () {

        $('#firstCardId').hide();
        $('#secondCardId').hide();
        $('#warningCardId').hide();
        $('#resultCardId').hide();

        let firstProduct = null;
        let secondProduct = null;

        $('#firstCarId, #secondCarId').select2({
            placeholder: "Оберіть товар",
            minimumInputLength: 2,
            allowClear: true,
            ajax: {
                type: "POST",
                url: "@Url.Action("GeProduct", "Product")",
                dataType: "json",
                data: function (params) {
                    var query = {
                        term: params.term,
                        page: params.page || 1,
                        pageSize: params.pageSize || 5
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (val, index) {
                            return {
                                id: index,
                                text: val
                            };
                        }),
                    };
                }
            }
        });

        function fillData(val, cardId) {
            if (cardId === 'firstCardId') {
                $('#firstCardId').show();
                $('#firstCardTitleId')[0].innerText = 'Назва: ' + val.name;
                $('#firstCardDescId')[0].innerText = 'Опис: ' + val.description;
                $('#firstCardSpeedId')[0].innerText = 'Потужність: ' + val.speed + ' ват';
                $('#firstCardPriceId')[0].innerText = 'Стоимость: ' + val.price + ' гр.';
                $('#firstCardModelId')[0].innerText = 'Модель: ' + val.model;
                $('#firstCardDateCreateId')[0].innerText = 'Дата cтворення: ' + val.dateCreate;
            } else {
                $('#secondCarId').show();
                $('#secondCardTitleId')[0].innerText = 'Назва: ' + val.name;
                $('#secondCardDescId')[0].innerText = 'Опис: ' + val.description;
                $('#secondCardSpeedId')[0].innerText = 'Потужність: ' + val.speed + ' км/ч';
                $('#secondCardPriceId')[0].innerText = 'Вартість: ' + val.price + ' гр.';
                $('#secondCardModelId')[0].innerText = 'Модель: ' + val.model;
                $('#secondCardDateCreateId')[0].innerText = 'Дата створення: ' + val.dateCreate;
            }
            compareProductss();
        }


        $("#secondProductId").on("change", function () {
            const id = this.value;
            if (id === "") return;
            $.get("/Car/GetCar", { id: id, isJson: true }, function (data) {
                secondCar = data;
                fillData(secondCar, "secondCarId");
            });
        });

        $("#firstProductId").on("change", function () {
            const id = this.value;
            if (id === "") return;
            $.get("/Product/GetProduct", { id: id, isJson: true }, function (data) {
                firstCar = data;
                fillData(firstCar, "firstProductdId");
            });
        });

        function compareProducts() {
            if (firstProduct === null) {
                $('#warningId')[0].innerText = 'Ви не обрали товар';
                $('#warningCardId').show();
                return;
            }

            if (secondProduct === null) {
                $('#warningId')[0].innerText = 'Вы не обрали другий товар';
                $('#warningCardId').show();
                return;
            }

            var speed = $('#resultSpeedId')[0];
            if (firstProduct.speed > secondProduct.speed) {
                speed.innerText = 'Потужність ' + firstProduct.name + ' вище, ніж у ' + secondProduct.name;
            } else if (firstProduct.speed === secondProduct.speed) {
                speed.innerText = 'Потужність ' + secondProduct.name + ' та ' + firstProduct.name + ' однакові';
            } else {
                speed.innerText = 'Потужність ' + secondProduct.name + ' вище, ніж у ' + firstProduct.name;
            }

            var price = $('#resultPriceId')[0];
            if (firstCar.price > secondCar.price) {
                price.innerText = 'Вартість ' + firstProduct.name + ' выще, ніж у ' + secondProduct.name;
            } else if (firstProduct.price === secondProduct.price) {
                price.innerText = 'Вартість ' + firstProduct.name + ' та ' + secondProduct.name + ' однакові';
            } else {
                price.innerText = 'СВартість ' + firstProduct.name + ' вище, ніж у ' + secondProduct.name;
            }

            $('#resultCardId').show();
            $('#warningCardId').hide();
        }
    });
</script>