
    <div class="container py-5" style="background: white">
        <h1 class="text-center">Контактна інформація</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
            <h3>"Hop-Shop" </h3>
                <p>
                Адреса: Дніпро, Україна
                    <br />
                Телефон: +380 (95) 507-51-44
                (Viber, Whatsapp, Telegram)
                    <br />
                Email: gryazevmark2019@gmail.com
                </p>
            </div>
            <div class="col-md-6">
                <h3>Про нас:</h3>
                <p>
                інтернет-магазин тактичного військового спорядження
                <br />
                Власне виробництво туризму
                    <br />
                 
                </p>
            </div>
        </div>
    </div>
