<div class="container" style="background: white">
    <h2>Способи доставки</h2>
    <ul>
        <li>
            Доставка "Нова Пошта"Післяплатою Новою поштою надсилаємо тільки при замовленні від 500 грн.
            Якщо сума замовлення менша, то за мінімальною передоплатою 150 грн. або повну передоплату на карту.
            Передплата необхідна на випадок, якщо Ви з якихось причин, які не залежать від нас, не змогли забрати посилку.
        </li>
        <li>
            Доставка кур'єром
        </li>
        <li>
            Доставка "Укрпошта"Доставка "Укрпоштою" тільки по 100% передоплаті на картку або р/с
        </li>
    </ul>

    <h2>Способи оплати</h2>
    <ul>
        <li>Пром-оплата</li>
        <li>Післяплата "Нова Пошта"</li>
        <li>Оплата за реквізитами</li>
        <li>Готівкою</li>
    </ul>

    <h2>Гарантія</h2>
    <p>Відповідно до Закону України "Про захист прав споживачів"</p>

</div>